
            h1{
                color:blue;      
                border: dashed;
            }
         .header{
             background-color: aqua;
             display: flex;
             justify-content: space-around ;
         }
         .menu{
             
             justify-content: space-evenly;
         }
         .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
         }
         